.main-div {
  margin-top: 10%;
  margin-right: 20%;
  margin-left: 20%;
}

/* .main {
  background-color: #D3D3D3; 
} */

body {
  background-color: #D3D3D3; 
}


#indentation{
	margin-left: 35%;
}

.buttons{
	margin-left: 5%;
}

.subTitle{
	margin-left: 10%;
}

.error{
	color: #FF0000;
}

