.main-div {
  margin-top: 10%;
  margin-right: 20%;
  margin-left: 20%;
}

/* .main {
  background-color: #D3D3D3; 
} */

body {
  background-color: #D3D3D3; 
}


#indentation{
	margin-left: 33%;
	margin-top: 5%;
	width: 35%;
	padding-left: 0%;
}

.buttons{
	margin-left: 0%;
}

h3{
	margin-left: 0%;
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
}

h2{
	margin-left: 0%;
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
}
h4{
	margin-left: 0%;
	font-family: 'PT Sans', sans-serif;
	font-size: 24px;
	
}

h1{
	margin-left: 0%;
	font-family: 'PT Sans', sans-serif;
	font-size: 34px;
}

